<div class="splash2">
  <div class="top-strip2">
    <%= link_to '<', groups_path, class:"back-link" %>
    <h2>Add New Group</h2>
  </div>

<%= form_with model: @group, url: groups_path do |form| %>
  <%= form.text_field :name, placeholder: 'Group Name' %>

  <%= form.text_field :icon, placeholder: 'Icon Path' %>

  <%= form.submit 'Create Group', id: 'submit-button' %>
<% end %>


