<div class="splash2">
  <div class="top-strip">
    <%= link_to 'Home', unauthenticated_root_path, class:"forward-link" %>
    <h2>CHANGE PASSWORD</h2>
    <%= link_to 'Log in', new_user_session_path, class:"forward-link" %>
  </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

    <%= f.password_field :password, placeholder: 'New Password', autofocus: true, autocomplete: "new-password" %>

    <%= f.password_field :password_confirmation, placeholder: 'Confirm New Password', autocomplete: "new-password" %>

    <%= f.submit "Change my password", id: 'submit-button' %>
<% end %>
</div>
