<div class="splash2">
  <div class="top-strip">
    <%= link_to 'Home', unauthenticated_root_path, class:"forward-link" %>
    <h2>LOGIN</h2>
    <%= link_to 'Sign up', new_user_registration_path, class:"forward-link" %>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email" %>

      <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password" %>

    <div class="actions">
      <%= f.submit "Log in", id:'submit-button' %>
    </div>
  <% end %>

<%= link_to "Forgot Password?", new_password_path(resource_name), class: "forgot-password-link" %>

</div>
